:root {
  --primary-color-header-information: #901c1c;
  --primary-color-photographer-name: #d3573c;
  --primary-color-photographer-description: #000000;
  --primary-color-photographer-fees: #525252;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* ---BODY ---*/

/* DESKTOP*/
@media screen and (min-width: 1025px) {
  body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: "DM Sans", sans-serif;
  }
}
/*MOBILE & TABLET*/

@media screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    width: 320px;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
  }
}

/* ---HEADER & NAV---*/

/*DESKTOP*/
@media screen and (min-width: 1025px) {
  header {
    height: 157px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .headerlogo_container {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerlogo {
    height: 50px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  nav {
    height: 49px;
    width: 57%;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    border-style: none;
    border-color: var(--primary-color-photographer-fees);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1em 1em 1em 1em;
    background-color: white;
    color: var(--primary-color-header-information);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 0.8em;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  header {
    height: 157px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .headerlogo_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .headerlogo {
    height: 90%;
    width: 90%;
  }

  nav {
    height: 49px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border-style: none;
    border-color: var(--primary-color-photographer-fees);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1em 1em 1em 1em;
    background-color: white;
    color: var(--primary-color-header-information);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 0.7em;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
  }
}

/* ---MAIN CONTENT---*/

/*DESKTOP*/
@media screen and (min-width: 1025px) {
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section_container {
    width: 100%;
    height:15em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top:2em;
    padding-bottom:2em;
    padding-left:4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    background-color: #FAFAFA;
  }

  #section_title {
    height: 157px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 47px;
    display: inline-block;
    color: var(--primary-color-photographer-name);
  }

  .section_profilpic_container {
    width: 30%;
    display:flex;
    justify-content: center;
    height: 12em;
    border-radius: 1em;
  }

  .section_profilpic_image {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
  }

  .section_description {
    display: flex;
    width:30%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  h2 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-name);
  }

  p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  .section_location {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-header-information);
  }

  .section_tagline{
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-description);
  }

  .section__fees {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-fees);
  }
  .section_buttons {
    margin-top: 0.7em;
  }

  .portfolio{
      width:300px;
      display:flex;
      flex-direction:column;
  }

  .portfolio_image_container{
      width:300px;
      height:257px;
  }

  .portfolio_image{
    object-fit: cover;
    width:100%;
    height:257px;
  }
}

@media screen and (min-width: 1250px) {
    .portfolio{
        width:350px;
        display:flex;
        flex-direction:column;
    }
  
    .portfolio_image_container{
        width:350px;
        height:300px;
    }
  
    .portfolio_image{
      object-fit: cover;
      width:100%;
      height:300px;
    }
  }


/*MOBILE*/

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section_container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #section_title {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -148px;
    right: -80px;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 47px;
    display: inline-block;
    color: var(--primary-color-header-information);
  }

  .section_profilpic_container {
    width: 12em;
    height: 12em;
    border-radius: 1em;
  }

  .section_profilpic_image {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
  }

  .section_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-name);
  }

  p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .section_location {
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-name);
  }

  .section_tagline {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-description);
  }

  .section__fees {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-fees);
  }
  .section_buttons {
    margin-top: 0.7em;
  }
}
