:root {
  --primary-color-header-information: #901c1c;
  --primary-color-photographer-name: #d3573c;
  --primary-color-photographer-description: #000000;
  --primary-color-photographer-fees: #525252;
  --primary-color-modal-background: #db8876;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* ---BODY ---*/

/* DESKTOP*/
@media screen and (min-width: 1025px) {
  body {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "DM Sans", sans-serif;
  }
}
/*MOBILE & TABLET*/

@media screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    width: 320px;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    position:relative;
  }
}

/* ---HEADER & NAV---*/

/*DESKTOP*/
@media screen and (min-width: 1025px) {
  header {
    height: 157px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .headerlogo_container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerlogo {
    height: 50px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  nav {
    height: 49px;
    width: 57%;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    border-style: none;
    border-color: var(--primary-color-photographer-fees);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1em 1em 1em 1em;
    background-color: white;
    color: var(--primary-color-header-information);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 0.8em;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
  }

  .modal {
    position: fixed;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 10;
    left: auto;
    width: 40%;
    height: 80%;
    background-color: var(--primary-color-modal-background);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    display:none;
  }

  .modal .fas {
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 3em;
  }
  .modal_text {
    color: #000000;
    font-size: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .modal_form {
    width: 100%;
    margin-top: 30px;
  }

  .form_field {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .text-control {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
  }

  .form_label {
    color: #312e2e;
    font-size: 1.6em;
  }

  .text-control-message {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border-style: none;
  }

  .form_submit {
    background-color: var(--primary-color-header-information);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 170px;
    height: 60px;
    font-size: 1em;
    border-style: none;
    margin-top: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }

  .headerlogo_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .headerlogo {
    height: 90%;
    width: 90%;
  }

  nav {
    height: 49px;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border-style: none;
    border-color: var(--primary-color-photographer-fees);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1em 1em 1em 1em;
    background-color: white;
    color: var(--primary-color-header-information);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    font-size: 0.7em;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
  }

  .modal {
    position: fixed;
    z-index: 1;
    width: 320px;
    height: 780px;
    background-color: var(--primary-color-modal-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 5%;
    justify-content: center;
    top: 30px;
    display:none;
  }

  .modal .fas {
    position: absolute;
    right: 30px;
    top: 5%;
    color: white;
    font-size: 2em;
  }
  .modal_text {
    color: #000000;
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .modal_form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form_field {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .text-control {
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
  }

  .form_label {
    color: #312e2e;
    font-size: 1.6em;
  }

  .text-control-message {
    width: 310px;
    height: 200px;
    border-radius: 5px;
    border-style: none;
  }

  .form_submit {
    background-color: var(--primary-color-header-information);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    font-size: 1em;
    border-style: none;
    margin-top: 20px;
    align-self: center;
  }
}

/* ---MAIN CONTENT---*/

/*DESKTOP*/
@media screen and (min-width: 1025px) {
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section_container {
    width: 100%;
    height: 15em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #fafafa;
  }

  #section_title {
    height: 157px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3.8em;
    line-height: 47px;
    display: inline-block;
    color: var(--primary-color-photographer-name);
  }

  .button_contact {
    background-color: var(--primary-color-header-information);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    font-size: 1.2em;
    border-style: none;
    position: absolute;
    left: 37%;
    top: 13em;
  }

  .button_contact:hover{
    background-color: var(--primary-color-modal-background);
    color: black;
    cursor: pointer;
  }

  .button_contact:focus{
    background-color: var(--primary-color-modal-background);
    color: black;
    cursor: pointer;
  }

  .section_profilpic_container {
    width: 30%;
    display: flex;
    justify-content: center;
    height: 12em;
    border-radius: 1em;
  }

  .section_profilpic_image {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
  }

  .section_description {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  h2 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-name);
  }

  p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  .section_location {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-header-information);
  }

  .section_tagline {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: var(---primary-color-photographer-fees);
  }

  h3{
    width:80%;
  }

  .section__fees {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-fees);
  }
  .section_buttons {
    margin-top: 0.7em;
  }

  .portfolio {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .portfolio_image_container {
    width: 300px;
    height: 257px;
  }

  .portfolio_image {
    object-fit: cover;
    width: 100%;
    height: 257px;
  }

  .portfolio_description {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h3 {
    color: var(--primary-color-header-information);
    font-size: 1em;
    font-weight: 400;
    width:80%;
  }

  .portfolio_legend {
    color: var(--primary-color-header-information);
    font-size: 1em;
    font-weight: 400;
  }

  .fa, .far, .fas{
    order:3;
    color: var(--primary-color-header-information)
  }
}

@media screen and (min-width: 1250px) {
  .portfolio {
    width: 430px;
    display: flex;
    flex-direction: column;
  }

  .portfolio_image_container {
    width: 350px;
    height: 300px;
  }

  .portfolio_image {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }

  .fa, .far, .fas{
    order:3;
    color: var(--primary-color-header-information)
  }

}

/*MOBILE*/

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section_container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    position:relative;
  }

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 47px;
    display: inline-block;
    color: var(--primary-color-photographer-name);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section_profilpic_container {
    width: 7em;
    height: 7em;
    border-radius: 1em;
  }

  .section_profilpic_image {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    object-fit: cover;
  }

  .section_description {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button_contact {
    background-color: var(--primary-color-header-information);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    font-size: 1.2em;
    border-style: none;
    position: fixed;
    bottom: 40px;
    align-self: center;
    margin:auto;
  }

  .button_contact:hover{
    background-color: var(--primary-color-modal-background);
    color: black;
    cursor: pointer;
  }

  .button_contact:focus{
    background-color: var(--primary-color-modal-background);
    color: black;
    cursor: pointer;
  }

  h2 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-name);
  }


  p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .section_location {
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-header-information);
  }

  .section_tagline {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color-photographer-fees);
  }

  .section__fees {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color-photographer-fees);
  }
  .section_buttons {
    margin-top: 0.7em;
    width: 100%;
  }

  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .portfolio_image_container {
    width: 300px;
    height: 220px;
  }

  .portfolio_image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }

  .portfolio_description {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h3 {
    color: var(--primary-color-header-information);
    font-size: 1em;
    font-weight: 400;
    width:80%;
  }
  .portfolio_legend {
    color: var(--primary-color-header-information);
    font-size: 1em;
    font-weight: 400;
  }

  .fa, .far, .fas{
    order:3;
    color: var(--primary-color-header-information)
  }
}
